* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: hsl(233, 47%, 7%);
  color: #fff;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 37.5em) {
  body {
    padding: 0 2rem;
  }
}
